
.fotoPerfil{
    background: lightblue;
    border: 1px solid gray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
}
h6{
    text-align: end;
}

div.descripcionSolicitud{
    width: 700px;
    height: 220px;
    margin: 30px;
    margin-left: 100px;
    border: 1px solid black;
    border-radius: 10px 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.808);
    text-align: center;
  }
