
.fotoPerfilP{
    border: 1px solid black;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: auto 0px auto 12px;
}
.perfilP{
    display: grid;
    grid-template-columns: 20% 80%;
}
h6{
    text-align: right;
}
h6.perfilPS{
    margin: auto auto auto 10px;
}
.top-dato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}
div.fechas{
    padding-right: 5%;
}

div.descripcionSolicitud{
    display: grid;
    width: 90%;
    height: 200px;
    margin: auto auto 3% auto;
    border: 1px solid black;
    border-radius: 8px 8px;
    background-color: white;
    color: rgba(0, 0, 0, 0.808);
    text-align: center;
    padding-top: 10px;
  }

  textarea{
    width: 80%;
    min-height: 100px;
    max-height: 100px;
  }

  hr{
    margin: 2% auto ;
    width: 80%;
  }