div.servicioCliente{
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: space-around;
}



div.top{
    display: flex;
    align-items: center;
    margin-top: 6%;
}

div.top-div{
    margin: auto 2%;
}
h6{
    margin: auto;
}

button.historial{
    padding: 1px 15px;
}

@media(max-width:700px)and (min-width:430px){
    div.servicioCliente{
        grid-template-columns: 1fr;
        justify-content: space-around;
    }
}

@media(max-width:429px)and (min-width:10px){
    div.vista{
        grid-template-columns: 100%;
    }
    div.otros{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
    
    }

    h4{
        text-align: center;
    }

    div.calificacion{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
    }
}