
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-image: linear-gradient(-225deg, #0e698b 0%, #27c3ea 100%);
  background-image: linear-gradient(to top, #0e698b 0%, #0e698b 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;
  opacity: 0.95;
}

/* Start form  attributes */
form {
  width: auto;
  min-height: 500px;
  height: auto;
  border-radius: 5px;
  margin:auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 3%;
  background-image: linear-gradient(-225deg, #27c3ea 50%, #86d7c1 50%);
}

