div.foto{
    border-radius: 100%;
    border: 1px solid gray;
    width: 35px;
    height: 35px;
    background-color: white;
    margin: auto 5px;
  }
  
  img#foto-usuario{
    width: 100%;
    border-radius: 100%;
    width: 35px;
    height: 35px;
  }
div.nav-perfil{
    padding: 0;
    margin: 0;
    width: 170px;
}

button#boton.btn{
    display: inline-flex;
    padding: 0;
    height: 45px;
}

#nombre{
    margin: auto;
}

.dropdown{
    margin: 0;
    padding: auto;
    height: 35px;
}

@media(min-width:1204px){
	
}
/*lg*/

@media(max-width:1204px) and (min-width:870px){
	
}
/*md*/

@media(max-width:869px)and (min-width:414px){
    
}
/*sm*/


@media(max-width:413px)and (min-width:10px){
	div.foto{
        display: none;
      }
    div.nav-perfil{
        width: 100px;
    }
}